appdirs==1.4.4
attmap==0.13.2
attrs==23.2.0
certifi==2024.6.2
charset-normalizer==3.3.2
eido==0.2.2
future==1.0.0
idna==3.7
importlib_metadata==7.1.0
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
logmuse==0.2.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ncbi-genome-download==0.3.3
numpy==1.26.4
oyaml==1.0
pandas==2.2.2
peppy==0.40.2
piper==0.14.2
pipestat==0.9.2a1
psutil==5.9.8
pyfaidx==0.8.1.1
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.1
refgenconf==0.12.2
refgenie==0.12.1
requests==2.32.3
rich==13.7.1
rpds-py==0.18.1
six==1.16.0
tqdm==4.66.4
tzdata==2024.1
ubiquerg==0.8.0
urllib3==2.2.1
yacman==0.9.3
zipp==3.19.1
